body,html {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    font-size: calc(14px + (26-14)*((100vw -300px)/ (1600 - 300)));
    overflow-x: hidden;
}


/*______________________nav__________________________________*/

.navbody {
        top: 60px;
        /* background-color: var(--white); */
        z-index: 3;
        padding: 1rem 0;
}

.disappear {
    opacity: 0;
    animation-delay: 0.5s;
    transition: 1s;

}
.appear {
    opacity: 1;
    animation-delay: 0.5s;
    transition: 1s;
    /* background-color: var(--white); */
}
.movetop {
    transform: translateY(-3rem);
}
.movedown {
    transform: translateY(0);
}

@media screen and (min-width:768px){
     .navbody{
        /* display: none; */
        padding: 0.5rem !important;
    } 
    .movetop {
        transform: translateY(-1.2rem);
    }
}
/*______________________slogan_____________________________*/

.wrapper {

}

.slogan p, .slogan a{
    color: var(--white);
    font-size: 0.7rem;  
    padding-top: 1rem;  
}

.slogan a {
    text-decoration:underline;
}
@media screen and (min-width:768px){
    .slogan p, .slogan a{
        font-size: 0.3rem;  
        padding-top: 0.3rem;
        margin-bottom: 0.3rem !important;
    }
    .navcart {
        font-size: 0.3rem;
    }
    .navbtn {
         font-size: 0.3rem;
     }
    .navbtn a {
         color: var(--black);
         margin-right: 0.3rem;
     }
    .navlogo {
        left: 50%;
        transform: translateX(-50%);
     }
 
}
/**__________________BANNER_______________________**/
.bannerbg {
    background-image: url(../img/make-it-2x-scaled.jpg);
    width: 100%;
    background-size:1000px 600px;
    background-attachment: fixed;
    background-position: top center;
    height: 23rem;
    background-repeat: no-repeat;
    background-color: var(--white);
}


.flowbottom {
    background-image: url(../img/Subtraction-white.svg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height:7rem;
    bottom: 0;
    left:0;
    
}
@media screen and (min-width:768px){
    .bannerbg {
        background-size: 100vw ;
        background-position: top center;
        background-attachment: local;
    }
}

/*________________________Words______________________________*/


.h3{
    color: var(--black);
    overflow-wrap: break-word;
    font-size: 1.4rem;
    text-align: center;
}

.wordtop {
    padding-top: 3rem;    
    overflow: hidden;
}

.pur-line::before{
    background-image: url(../img/Line-1037.svg);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 1rem;
    top: 0rem;
    left: 50%;
    transform: translateX(-5%); 
}
@media screen and (min-width:768px){
    .h3{
    font-size: 0.7rem;
    width: 30%;
    line-height: 0.9rem;
  }
  .wordtop {
      padding-top:1rem ;
  }
  .pur-line::before{
      left: 50%;
      transform: translateX(-0.5%);
  }
}
/*_____________________IntroSelf______________________________*/

#INTROSELF {
    padding-top: 6rem;
    background-color: var(--white);
    width: 100%;
    overflow: hidden;
    max-width: 100%;
}

.intro-pic {
    background: url(../img/Group-6313-410x372.jpg) center no-repeat;
    height: 15rem;
    background-size: auto;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 5rem ;
}  

.intro-pic::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/about-back.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    top: 6rem;
    left: 10rem;
    bottom: 0;
    right: 0;

}

.about-p {
    font-size: 1rem;
    line-height: 40px;    
}

.blackBTN {
    padding: 1rem 1.3rem;
    background-color: var(--black);
    color: var(--white);
    font-size: 1rem;
    text-align: center;
    font-weight: 500;  
    letter-spacing: 0.1rem;  
}

@media screen and (min-width:768px){
    .intro-pic {
        background-image: url(../img/Group-6313.jpg);
        width: 50vw;
        background-position: right top;
        margin: 0 auto;
    }
    .intro-pic::before {
        background-size: contain;
        background-position: center;
        top: -7rem;
        left: 26rem;
    }
    .intro-content{
        width: 50vw;
        padding-left: 2rem;
    }
    .introbox {
        display: flex;
        justify-content: center;
    }
    .h3-1{
        padding-top: 1rem;
        font-size: 0.5rem!important;
        width: 50%!important;
        line-height:0.7rem ;
        margin-bottom: 1rem!important;
    }
    .about-p {
        font-size: 0.3rem;
        font-weight: 100;
        width: 50%;
        line-height: 0.4rem;
        margin-bottom: .5rem!important;
    }
    .blackBTN {
        font-size: 0.3rem;
        padding: 0.3rem 0.4rem;
        letter-spacing: 0rem;  
}
/*____________________________COCOMPANY____________________*/

#COCOMPANY {
    padding-top: 5rem;
    background-color: var(--white);    
}

.cocompany-title {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.companyUL li{
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2rem;
    padding: 0 2rem; 
    height: 3rem;
}

.companyUL :nth-child(1) { 
    background-image: url(../img/logo_1.svg); 
}

.companyUL :nth-child(2) {
    background-image: url(../img/logo_2.svg); 
}

.companyUL :nth-child(3) {
    background-image: url(../img/logo_3.svg); 
}

.companyUL :nth-child(4) {
    background-image: url(../img/logo_4.svg); 
}

.companyUL :nth-child(5) {
    background-image: url(../img/logo_5.svg); 
}

.companyUL :nth-child(6) {
    background-image: url(../img/logo_6.svg); 
}

.companyUL :nth-child(7) {
    background-image: url(../img/logo_7.svg); 
}

.companyUL :nth-child(8) {
    background-image: url(../img/logo_8.svg); 
}

.companyUL :nth-child(9) {
    background-image: url(../img/logo_9.svg); 
}

.companyUL :nth-child(10) {
    background-image: url(../img/logo_0.svg); 
}
@media screen and (min-width:768px){
    .cocompany-title {
        font-size: 0.1rem;
    }
    .companyUL li{
        margin: 1rem;
        padding: 0 2rem; 
        height: 1rem;
    }
    .companyUL {
        justify-content: center;
    }
}

/*_____________TOOLS_____________________________*/

#TOOLS {
    background-color: var(--white);
    padding-top: 5rem;
}

.toolsbox h3{
    font-weight: 600;
}


.prod-title {
    font-size: 0.7rem;    
}

.arrow-rsz img{
    width: 20%;    
}

.prod-content {
    line-height: 2rem;    
}

.prod-li li {
    list-style-type: disc;
}

.prod-price {
    font-size: 1.5rem;
    font-style: italic;    
}

.p-box::after {
    content: '';
    display: block;
    position: absolute;
    background-color: yellow;
    width: 2rem;
    height: 0.3rem;
    left: 0;
    right: 0;
    bottom: -0.5rem;
}
@media screen and (min-width:768px){
    .toolsbox p {
        width: 40%;
        margin: 0 auto;
        font-size: 0.4rem;
        line-height: 0.6rem;
    }
    .xl-rsz {
        width: 40%!important;
        margin: 0.4rem!important;
    }
    .productUL {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .prod-title {
        font-size: 0.2rem;  
        display: flex;
        align-items: center;  
    }
    .xl-proh3 {
        padding-top: 0.5rem;
        width: 42%!important;
    }
    .xl-title {
        margin-bottom: 0.5rem!important;
    }
    .p-box::after {
        width: 1rem;
        height: 0.1rem;
        bottom: -0.2rem;
    }
    .arrow-rsz img{
        width: 15%;    
    }
    .arrow-rsz {
        justify-content: start!important;
    }
    .prod-content {
        font-size: 0.4rem;
        line-height: 0.8rem;
    }
    .prod-li{
        font-size: 0.4rem;
    }
    .prod-price {
        font-size: 0.5rem;
    }
    .product-img {
        width: 70%;
    }
    .xl-btn-mb
}


/*_____________SYSTEM___________________*/
#SYSTEM {
    background-color: var(--white);
    padding-top: 5rem;
}

.systembg{
    background-image: url(../img/pattern25-400x251.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 6rem;
}

.img-rsz {
    width: 40%;
}

.p-box2::after {
    content: '';
    display: block;
    position: absolute;
    background-color: rgb(255, 118, 118);
    width: 2rem;
    height: 0.3rem;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.BTN2 {
    padding: 0.7rem 1rem;
    font-size: 0.7rem;
    text-align: center;
    font-weight: 500;  
    letter-spacing: 0.1rem;  
}

@media screen and (min-width:768px){
    #SYSTEM {
        padding-top: 3rem;
    }
    .xl-sys-rsz {
        width: 25%!important;
        margin: 0 0.3rem!important;
    }
    .sys-f-UL {
        display: flex;
        justify-content: center;
        flex-wrap:wrap ;
    }
    .p-box2::after {
        width: 0.8rem;
        height: 0.1rem;
        top: 2.1rem;
    }
    .w-md-45 {
        width: 55% !important;
    }

    .fs-md {
        font-size: 0.3rem;
        width: 70%;
    }

    .BTN2 {
        padding: 0.4rem 0.7rem;
        font-size: 0.3rem;
        text-align: center;
        font-weight: 500;  
        letter-spacing: 0rem; 
    }
}

/*________________WORKSHOPS________________*/

#WORKSHOPS {
    padding-top: 5rem;
    background-color: var(--white);
}

.wh3 {
    margin-bottom: 0!important;
}

.prod-title2 {
    font-size: 0.4rem;    
}

@media screen and (min-width:768px){
    #WORKSHOPS {
        padding-top: 3rem;
    }
    .work-commrl {
        width: 78% !important;
    }
    .prod-title2 {
        font-size: 0.2rem;    
    }
    .wh3 {
        font-size: 1.2rem;
    }
    .sub-title {
        font-size: 0.4rem;
    }
    .fs-md-price {
        font-size: 0.4rem !important;  
        margin-bottom: 0.5rem !important;     
    }
    .bye {
        display: none;
    }
    .work-commrl {
        background-image: url(../img/bloom.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center right;
    }
    .workProdUL {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
/*____________________MENTOR_____________________________*/

#MENTOR {
    background-color: var(--white);
    padding-top: 5rem;
}

.mentorimg {
    width: 60%;
}

@media screen and (min-width:768px){
    #MENTOR {
        padding-top: 3rem;
    }
    .mentorbox {
        width: 90%;
        margin: 0 auto;
    }
    .mentortitle {
        font-size: 1.2rem;
    }
    .mnt-cmmrl {
        width: 78% !important;
        background-image: url(../img/Mentorship_program_mockup_LIGHT_new2_withaccent.png);
        background-repeat: no-repeat;
        background-position: center right;
        background-size: auto;
    }
}
/*___________________KIND_______________________________*/

#KIND {
    /* padding-top: 5rem; */
    background-color: #e9e9e9;
    overflow: hidden;
}

.wglowbg {
    top: -2rem;
    left: 0;
}

.kindtitlebox::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #ff5746;
    width: 1.5rem;
    height: 0.6rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.kind-p {
    font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
    
}
/*_________________FOOTER____________________________*/

#FOOTER {
    margin-top: 5rem;
    background-color: var(--white);
    /* overflow: hidden; */
}
.flowbg {
    top: -9.8rem;
    left:0;
    z-index: 2;
}

.flowbg svg {
    width: 100%;
}

/**_______________________________footButton_________*/
.li-logo{
    width: 10%;
}
.button-title{
    text-transform: uppercase;
    color: rgb(82, 82, 82);
    font-size: .6rem;
    padding: 1rem 0 0.3rem 0;
}
.button-size {
    font-size: .5rem;
    margin: 0.7rem 0 ;
}
.button-size a {
    color:var(--black)
}
.footer-content {
    font-size: 0.7rem;
}
.icon-size {
    background-size: auto;
    background-position: top center;
    width: 1rem;
    background-repeat: no-repeat;
}
.in-icon {
    background-image: url(../img/social_linkedin.svg);
}
.inst-icon {
    background-image: url(../img/social_instagram.svg);
}
/*_________________SETUP______________________________*/

img{
    width: 100%;
}

.bgwht{
    background-color:var(--white);
}

.bggry{
    background-color: #e9e9e9;
}

.bgWblue{
    background-color: #74ddda;
}

.bgblck{
    background-color: black;    
}


.cblck{
    color: var(--black);
}
.cwht {
    color: var(--white);
}
.w-100{
    width: 100%;    
}

.w-80{
    width: 80%;
}

.w-90{
    width: 90%;    
}
.w-60 {
    width: 60%;
}
.w-50 {
    width: 50%;    
}

.xl-w30 {
    width: 30%!important;
}

.m0a{
    margin: 0 auto;
}

.ps-fix {
    position: fixed;
}

.fs-1rem {
    font-size: 1rem;
}